@model CapoteSolution.Web.Models.ViewModels.BrandDisplayVM

@{
    ViewData["Title"] = "Detalles del Marca";
}

<div class="card">
    <div class="card-header bg-primary text-white">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4">Nombre:</dt>
            <dd class="col-sm-8">@Model.Name</dd>

            <dt class="col-sm-4">Modelos:</dt>            

        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
    </div>
</div>