@model CapoteSolution.Web.Models.ViewModels.ContractDisplayVM

@{
    ViewData["Title"] = "Eliminar Contrato";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-warning">
    <h4>¿Está seguro que desea eliminar este toner?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Cliente:</dt>
        <dd class="col-sm-9">@Model.CustomerName</dd>

        <dt class="col-sm-4">Información del Equipo(Impresora):</dt>
        <dd class="col-sm-8">@Model.CopierInfo</dd>

        <dt class="col-sm-4">Dias de Facturación:</dt>
        <dd class="col-sm-8">@Model.InvoiceDay</dd>


    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

