@model CapoteSolution.Web.Models.ViewModels.CustomerDisplayVM

@{
    ViewData["Title"] = "Eliminar Cliente";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-warning">
    <h4>¿Está seguro que desea eliminar este cliente?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Nombre:</dt>
        <dd class="col-sm-9">@Model.CustomerName</dd>     


    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

